<?xml version="1.0" encoding="utf-8"?>

 <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "pk.edu.nu.plugintest"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Phonegap Plugin examples</name>

    <description>
      This app tries to explore phonegap plugins.
    </description>

    <author href="https://www.nu.edu.pk" email="naveed@nu.edu.pk">
        Naveed Ahmed
    </author>
	
	<icon src="Appicon.png" />
	
	<gap:splash src="Splash.png" />

	<gap:plugin name="org.apache.cordova.camera"/>

</widget>